<?xml version="1.0" encoding="UTF-8" ?>
	<widget xmlns = "http://www.w3.org/ns/widgets"

		xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "fr.abstrakt.bonbonform"
		version     = "1.0.0"
		versionCode = "10" >

		<!-- versionCode is optional and Android only -->

		<preference name="phonegap-version" value="3.1.0" />
		<preference name="orientation" value="landscape" />
		<preference name="fullscreen" value="true" />
		<preference name="UIWebViewBounce" value="false" />
		<preference name="DisallowOverscroll" value="true" />
		<preference name="UIViewControllerBasedStatusBarAppearance" value="false" />

		<name>V&R Bonbon</name>

		<description>
		An example for phonegap build docs. 
		</description>

		<author href="http://abstrakt.fr" email="mcorbex@a-g.fr">
		Matthieu Corbex
		</author>

	</widget>